<p>Dear {{fullName}},</p>
</br>
<p>Your refund for <strong>{{tripName}}</strong> has been processed to your bank details.</p>
</br>
<p><strong>Refund amount:</strong> PKR {{amount}}</p>
</br>
<p>If you do not receive it within 14-30 business days, please contact support.</p>
</br>
<p>Best regards,</p>
<p>The 3Musafir Team</p>
